.EditForm select,
.EditForm input,
.EditForm button,
.EditForm textarea{
    display: block;
    margin: 20px auto;
    padding: 10px;
}
.EditForm input,
.EditForm textarea{
    width: 50%;
}
.EditForm{
    margin: 20px auto;
    max-width: 900px;
}
.EditForm select{
    width: 53%;
    background: crimson;
}
.EditForm button{
    background: crimson;
    margin-bottom: 20px;
}